body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    gap: 10px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.display {
    grid-column: span 4;
    background-color: black;
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    border-radius: 10px;
}

.button {
    background-color: #666;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator {
    background-color: #f39c12;
}

#clear, #backspace {
    background-color: #e74c3c;
}

#equals {
    background-color: #2ecc71;
}

#decimal {
    background-color: #3498db;
}

.button:hover {
    background-color: #888;
}

.operator:hover {
    background-color: #e67e22;
}

#clear:hover, #backspace:hover {
    background-color: #c0392b;
}

#equals:hover {
    background-color: #27ae60;
}

#decimal:hover {
    background-color: #2980b9;
}
